/CSharpWpf/C2ClientRequestClient/C2ClientRequestClient/bin/Debug/
/CSharpWpf/C2ClientRequestClient/.vs/C2ClientRequestClient/
/CSharpWpf/C2ClientRequestClient/.vs/
/Client/src/Loging/
/Server/src/Builds/
